<section>
  <div class="container">
    <div class="col-md-6">
      <form
        novalidate
        [formGroup]="checkoutForm"
        (ngSubmit)="submitCheckoutForm()"
      >
        <div class="form-group">
          <label for="fullName" class="is-invalid">Full Name</label>
          <input
            id="fullName"
            type="text"
            name="fullName"
            [class.is-invalid]="
              checkoutForm.controls['fullName'].invalid &&
              (checkoutForm.controls['fullName'].dirty ||
                checkoutForm.controls['fullName'].touched)
            "
            class="form-control"
            formControlName="fullName"
            required
          />

          <br />
          <div formArrayName="contactNumbers">
            <h4>
              Contact Numbers
              <i class="fa fa-plus-circle" (click)="addContactNumber()"></i>
            </h4>

            <div
              *ngFor="
                let contactNumber of contactNumbers.controls;
                let i = index
              "
            >
              <label for="">
                Contact Number ({{ i + 1 }})
                <input type="text" [formControlName]="i" class="form-control" />
              </label>
            </div>
          </div>

          <label for="notes">Notes</label>
          <textarea
            name="notes"
            id="notes"
            cols="30"
            rows="6"
            class="form-control"
            formControlName="notes"
            required
            [class.is-invalid]="
              checkoutForm.controls['notes'].invalid &&
              (checkoutForm.controls['notes'].dirty ||
                checkoutForm.controls['notes'].touched)
            "
          ></textarea>

          <label for="deliveryType">Delivery Type</label>
          <div class="form-check">
            <label class="form-check-label" for="1d">
              <input
                class="form-check-input"
                type="radio"
                name="deliveryType"
                id="1d"
                value="1"
                formControlName="deliveryType"
                [class.is-invalid]="
                  checkoutForm.controls['deliveryType'].invalid &&
                  (checkoutForm.controls['deliveryType'].dirty ||
                    checkoutForm.controls['deliveryType'].touched)
                "
              />
              1 Day
            </label>
            <br />
            <label class="form-check-label" for="2d">
              <input
                class="form-check-input"
                type="radio"
                name="deliveryType"
                id="2d"
                value="2"
                formControlName="deliveryType"
                [class.is-invalid]="
                  checkoutForm.controls['deliveryType'].invalid &&
                  (checkoutForm.controls['deliveryType'].dirty ||
                    checkoutForm.controls['deliveryType'].touched)
                "
              />
              2 Days
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="wrapped"
            >Would you want the products wrapped?
            <br />
            <input
              formControlName="wrapped"
              type="checkbox"
              name="wrapped"
              id="wrapped"
            />
            Yes I would!
          </label>
        </div>
        <div class="form-group">
          <label for="randomQuestion"
            >I couldn't think of a question for this dropdown.</label
          >
          <select
            required
            formControlName="randomQuestion"
            name="randomQuestion"
            id="randomQuestion"
            class="form-control"
            [class.is-invalid]="
              checkoutForm.controls['randomQuestion'].invalid &&
              (checkoutForm.controls['randomQuestion'].dirty ||
                checkoutForm.controls['randomQuestion'].touched)
            "
          >
            <option value="">:::SELECT:::</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="form-group">
          <button [disabled]="!checkoutForm.valid" class="btn btn-success">
            Submit!
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
